
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/docker/db
/docker/redis-data
/docker/redis.conf
###< symfony/framework-bundle ###
