version: "3.8"
services:

  # BACK

  nginx:
    build:
      context: ./docker/nginx
    container_name: nginx
    restart: always
    ports:
      - 80:80
    tty: true
    volumes:
      - ./:/var/www/html
    depends_on:
      - php

  php:
    build:
      context: ./docker/php
    container_name: php
    restart: always
    tty: true
    volumes:
      - ./:/var/www/html
    depends_on:
      - redis
      - mysql

  redis:
    image: "redis:alpine"
    container_name: redis
    command: redis-server --requirepass tornado123
    ports:
      - "6379:6379"
    volumes:
      - ./docker/redis-data:/var/lib/redis 
      - ./docker/redis.conf:/usr/local/etc/redis/redis.conf
    environment:
      - REDIS_REPLICATION_MODE=master

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_DATABASE: tornado
      MYSQL_USER: tornado
      MYSQL_PASSWORD: tornado
      MYSQL_ROOT_PASSWORD: root-tornado
    ports:
      - '3306:3306'
    volumes:
      - ./docker/db:/var/lib/mysql
    tty: true